// TODO
.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  img {
    width: 100%;
    height: 400px;
  }
}

.header {
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .infoPost {
    display: flex;
    align-items: center;

    span {
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--gray-800);

      text-transform: capitalize;

      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }

      &:last-child {
        text-transform: none;
      }
    }

    span + span {
      margin-left: 1.5rem;
    }
  }
}

.content {
  margin-top: 4rem;

  h2 {
    font-size: 2.25rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .body {
    margin-top: 2rem;

    p,
    span,
    li {
      color: var(--gray-800);
      line-height: 2rem;
      text-align: justify;

      strong {
        color: var(--pink-800);

        &:first-child {
          color: var(--gray-800);
        }

        &:last-child {
          color: var(--gray-800);
        }
      }
    }
  }
}

.loading {
  height: 100vh;
  color: var(--pink-800);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 3.75rem;
  border-top: 1px solid rgba(215,215,215, .1);
  padding-top: 3rem;

  .headerFooter{

    display: flex;
    align-items: center;
    justify-content: space-between;

    .postPrevious {
      display: flex;
      flex-direction: column;

      span{
        color: var(--gray-50);
      }

      a{
        color: var(--pink-800);
        font-weight: 600;
      }

    }

  }

}
